<%= render "layouts/errors", :object => @survey %>

<form action="/location location location">
  <% @survey.questions.each do |question| %>
  <% choice_array = question.answer.split(".")%>
  <p><%= question.question %></p>
    <input type="radio" name="<%= question.id %>" id="<%= question.id %>" value="<%= choice_array[0] %>">
    <label for="<%= question.id %>"><%= choice_array[0] %></label><br>
    <input type="radio" name="<%= question.id %>" id="<%= question.id %>" value="<%= choice_array[1] %>">
    <label for="<%= question.id %>"><%= choice_array[1] %></label><br>
    <input type="radio" name="<%= question.id %>" id="<%= question.id %>" value="<%= choice_array[2] %>">
    <label for="<%= question.id %>"><%= choice_array[2] %></label><br>
    <input type="radio" name="<%= question.id %>" id="<%= question.id %>" value="<%= choice_array[3] %>">
    <label for="<%= question.id %>"><%= choice_array[3] %></label><br>
  <% end %>
  <button type="submit" class="btn btn-primary">Submit Answers</button>
</form>
