<%= render "layouts/errors", :object => @survey %>

<form action="/surveys/<%= @survey.id %>/answers" method="get">
  <div class="container">
    <% @survey.questions.each do |question| %>
    <div class="row">
        <label id="<%= question.id %>"><%= question.question %></label>
        <input id="q" name="<%= question.id %>" id="<%= question.id %>" required>
    </div>
    <% end %>
  <button type="submit" class="btn btn-primary">Submit Answers</button>
  </div>
</form>