<%= render "layouts/errors", :object => @survey %>

<form action="/survey/" method="tbd">
  <div class="container">
    <% @survey.questions.each do |question| %>
    <div class="row">
        <label id="<%= question.id %>"><%= question.question %></label>
        <input id="q" name="<%= question.id %>" id="<%= question.id %>">
    </div>
    <% end %>
  <button type="submit" class="btn btn-primary">Submit Dates</button>
  </div>
</form>